.bug-label, .bug-label-rate {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 400px;
    font-size: 30px;
}

.field input.post-bug-btn {
    margin-top: 10px;
    width: 486px;
    border: 1px solid rgb(210, 100, 100);;
    outline: none;
    font-size: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}

textarea {
    margin: 1px;
    padding: 0 7px;
    width: 470px;
    height: 100px;
    max-width: 470px;
    font-size: 20px;
    border: 1px solid rgb(210, 100, 100);
    color: black;
    word-wrap: break-word;
}

.bug-label-rate {
    width: 300px;
    font-size: 20px;
}

.field [type="radio"] {
    width: 25px;
    height: 20px;
    vertical-align: middle;
}
