{% extends "shop/base.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% block style %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/vertical-menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/catalog.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/item.css' %}" />
    <link rel="alternate stylesheet" title="horizontal" type="text/css" href="{% static 'shop/css/horizontal-menu.css' %}">
{% endblock %}
{% block script %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'shop/js/jquery-2.1.4.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="catalog-list">
        <nav class="menu">
        {% if categories %}
    	    <ul>
    	    {% for category in categories %}
    		    {% include "shop/category_list.html" %}
    	    {% endfor %}
        	</ul>
        {% else %}
            <p>Категорий нет.</p>
        {% endif %}
        </nav>
    </div>

    <div class="items">
        <div class="item-name">
            {{ item.name }}
        </div>
        {% if desc %}
            <table class="desc-list">
                <ul>
                    {% for desc_item in desc %}
                        <li>{{ desc_item }}</li>
                    {% endfor %}
                </ul>
            </table>
        {% else %}
            Не найдено описание товара
        {% endif %}
        <div class="item-comments">
            <form class="create-comment" method="post">
                {% csrf_token %}
                <textarea class="comment" name="comment" type="text" placeholder="Комментарий" required></textarea>
                <p>Рейтинг товара:</p>
                <input type="radio" name="item_rate" value="1" checked><b>1</b>
                <input type="radio" name="item_rate" value="2"><b>2</b>
                <input type="radio" name="item_rate" value="3"><b>3</b>
                <input type="radio" name="item_rate" value="4"><b>4</b>
                <input type="radio" name="item_rate" value="5"><b>5</b>
                <input class="post-comment-btn" type="submit" value="Отправить">
            </form>
            {% if comm %}
                {% for com in comm %}
                    <div class="user-comm">
                        <div class="comm-rate">Пользователь: {{ com.user.name }}</div>
                        <div class="comm">Комментарий: {{ com.comment }}</div>
                        <div class="comm-rate">Рейтинг: {{ com.rating }}</div>
                    </div>
                {% endfor %}
            {% else %}
                Комментариев нет.
            {% endif %}
        </div>
    </div>
{% endblock %}
